.div {
  width: var(--width-size);
  height: var(--height-size);
}

@container app (min-width: 640px) {
  .div {
    width: var(--sm-width-size);
    height: var(--sm-height-size);
  }
}
@container app  (min-width: 768px) {
  .div {
    width: var(--md-width-size);
    height: var(--md-height-size);
  }
}
@container app  (min-width: 1024px) {
  .div {
    width: var(--lg-width-size);
    height: var(--lg-height-size);
  }
}
@container app  (min-width: 1280px) {
  .div {
    width: var(--lg-width-size);
    height: var(--lg-height-size);
  }
}
